<form action="run2" method="post">
  {% csrf_token %}
  <input type="submit" name="word" value="{{ words.0 }}" required id="word" />
  <input type="submit" name="word" value="{{ words.1 }}" required id="word" />
  <input type="submit" name="word" value="{{ words.2 }}" required id="word" />
  <input type="submit" name="word" value="{{ words.3 }}" required id="word" />
  <input type="submit" name="word" value="{{ words.4 }}" required id="word" />
  <input type="submit" name="word" value="{{ words.5 }}" required id="word" />
  <input type="submit" name="word" value="{{ words.6 }}" required id="word" />
  <input type="submit" name="word" value="{{ words.7 }}" required id="word" />
  <input type="submit" name="word" value="{{ words.8 }}" required id="word" />
</form>
