{% load static %}

<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" /> 
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>松下元昧</title>
  <link href="{% static 'app/css/style.css' %}" rel="stylesheet">
</head>

<div class="cafe_background">
    <div>
        <p>店中のどの<span class="table">テーブル</span>もソファーも、花瓶の乗った本棚のようなもの、そして店員のいるカウンターでさえ床に<span class="static">固定</span>されていない老舗の<span class="cafe">喫茶店</span>であった。私は窓に背を向けて、ソファーに腰掛けていた。私の向かいの椅子には、<span class="bag">鞄</span>が一つ残されている。これは親しい関係にある女性の<span class="bag">鞄</span>で、彼女は注文を預けて化粧室にたった。
        </p>
    </div>
    
    <div>
        <button class="nextpage" onclick="location.href='/app/runx2'">
            次のページ
        </button>
    </div>
    
</div>

