{% load static %}

<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" /> 
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>松下元昧</title>
  <link href="{% static 'app/css/style.css' %}" rel="stylesheet">
</head>

<div class="cafe_background">
    <div>
        <p> 私は店員に目配せをしたり、コーヒーを注文したりする間も含めてこの店に入ってからというものずっと、あることを思っていた。<span class="table">テーブル</span>や家具が<span class="static">固定</span>されていないということが、重要なこととして、常に心の中で、手前に位置しているのだ。
            これには理由があった。目の前の<span class="bag">鞄</span>につけられたキーホルダーが売られているような、遊園地の中にあるレストランでは、まさにどの<span class="table">テーブル</span>も、床にボルトで堅く<span class="static">固定</span>されていること。そして、そうした場所に私と彼女がつい昨日まで居たということがおそらくその理由であった。つまるところ、ここでは——この<span class="cafe">喫茶店</span>では、私は<span class="table">テーブル</span>やソファーや本棚を容易に、元にあった場所から遠ざけてしまうことができた。しかし、遊園地との対比の中で私は《前もって》あることに気がついていたのだ。この<span class="cafe">喫茶店</span>よりも、遊園地のなかのレストランの方が、よっぽど<span class="danger">危</span>うく脆いものであると。
        </p>
    </div>
    
    <div>
        <button class="nextpage" onclick="location.href='/app/runx3'">
            次のページ
        </button>
    </div>
</div>

