{% load static %}

<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" /> 
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>松下元昧</title>
  <link href="{% static 'app/css/style.css' %}" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <div class="cafe_background">
        <div>
            <p> 実は並行して、幾分か身体的に私は、この<span id="table">テーブル</span>を少し手前に寄せたいと思っていた。しかし、汚い床に這いつくばり、これからホットドッグを食べる手で、床と<span id="table2">テーブル</span>をとめている四本のボルトを回し取り、遊園地の<span id="table3">テーブル</span>を<span id="move">移動</span>させてしまうことよりも、この<span id="table4">テーブル</span>を<span id="move2">移動</span>させることは難しかった。
                店員や、周りの客にそれを動かすところを見られてはなるまいと、そして、それを動かしたということも勘繰られてはならないと、そう思い、時を窺った。しかし、新しい<span id="perfume">香水</span>の匂いと共に帰ってきた彼女は私の隣に座りながら、机を少し引き寄せた。目の前の椅子にはキーホルダーのついた<span id="bag1">鞄</span>が、一つ残されていた。    
            </p>
        </div>
        
        <div>
            <button class="nextpage" onclick="location.href='/app/index'">
                次のページ
            </button>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            const wordToChange = 'テーブル';
            const textElement = $('#table');
            const originalText = textElement.text();
            const coloredText = originalText.replace(new RegExp(wordToChange, 'g'), function(match) {
                const color = '#' + Math.floor(Math.random()*16777215).toString(16);
                return `<span style="color:${color};">${match}</span>`;
            });
            textElement.html(coloredText);
        });
    </script>
    <script>
        $(document).ready(function() {
            const wordToChange = 'テーブル';
            const textElement = $('#table2');
            const originalText = textElement.text();
            const coloredText = originalText.replace(new RegExp(wordToChange, 'g'), function(match) {
                const color = '#' + Math.floor(Math.random()*16777215).toString(16);
                return `<span style="color:${color};">${match}</span>`;
            });
            textElement.html(coloredText);
        });
    </script>
    <script>
        $(document).ready(function() {
            const wordToChange = 'テーブル';
            const textElement = $('#table3');
            const originalText = textElement.text();
            const coloredText = originalText.replace(new RegExp(wordToChange, 'g'), function(match) {
                const color = '#' + Math.floor(Math.random()*16777215).toString(16);
                return `<span style="color:${color};">${match}</span>`;
            });
            textElement.html(coloredText);
        });
    </script>
    <script>
        $(document).ready(function() {
            const wordToChange = 'テーブル';
            const textElement = $('#table4');
            const originalText = textElement.text();
            const coloredText = originalText.replace(new RegExp(wordToChange, 'g'), function(match) {
                const color = '#' + Math.floor(Math.random()*16777215).toString(16);
                return `<span style="color:${color};">${match}</span>`;
            });
            textElement.html(coloredText);
        });
    </script>
    <script>
        $(document).ready(function() {
            const wordToChange = '移動';
            const textElement = $('#move');
            const originalText = textElement.text();
            const coloredText = originalText.replace(new RegExp(wordToChange, 'g'), function(match) {
                const color = '#' + Math.floor(Math.random()*16777215).toString(16);
                return `<span style="color:${color};">${match}</span>`;
            });
            textElement.html(coloredText);
        });
    </script>
    <script>
        $(document).ready(function() {
            const wordToChange = '移動';
            const textElement = $('#move2');
            const originalText = textElement.text();
            const coloredText = originalText.replace(new RegExp(wordToChange, 'g'), function(match) {
                const color = '#' + Math.floor(Math.random()*16777215).toString(16);
                return `<span style="color:${color};">${match}</span>`;
            });
            textElement.html(coloredText);
        });
    </script>
    <script>
        $(document).ready(function() {
            const wordToChange = '香水';
            const textElement = $('#perfume');
            const originalText = textElement.text();
            const coloredText = originalText.replace(new RegExp(wordToChange, 'g'), function(match) {
                const color = '#' + Math.floor(Math.random()*16777215).toString(16);
                return `<span style="color:${color};">${match}</span>`;
            });
            textElement.html(coloredText);
        });
    </script>
    <script>
        $(document).ready(function() {
            const wordToChange = '鞄';
            const textElement = $('#bag1');
            const originalText = textElement.text();
            const coloredText = originalText.replace(new RegExp(wordToChange, 'g'), function(match) {
                const color = '#' + Math.floor(Math.random()*16777215).toString(16);
                return `<span style="color:${color};">${match}</span>`;
            });
            textElement.html(coloredText);
        });
    </script>
</body>


