body {
    color: black;
}

#title {
    color: orange;
    width: 100%;
    font-size: 10px;
    /* background-color: gray; */
    text-align: center;
}


a {
    color: black;
    text-decoration: none;
    display: block;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background-color: gray; */
    width: 100%;
    margin-top: 15em;
}

.button1 {
    width: 15em;
    height: 15em;
    text-align: center;
}


/* .caution {
    background-color: red;
} */

.button2 {
    width: 10em;
    height: 10em;  
    text-align: center;
}

.button3 {
    width: 5em;
    height: 5em;
    text-align: center;
}

.container3 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background-color: gray; */
    width: 100%;
    margin-top: 5em;
}

.button4 {
    width: 15em;
    height: 5em;
    text-align: center;
    background-color: aquamarine;
    color: red;
}


.choice1 {
    width: 6em;
    height: 6em;
    margin-left: 0.6em;
    margin-right: 0.6em;
}

.choice2 {
    width: 6em;
    height: 6em;
    margin-left: 0.6em;
    margin-right: 0.6em;
}

.choice3 {
    width: 6em;
    height: 6em;
    margin-left: 0.6em;
    margin-right: 0.6em;
}


.hiragana2_form {
    background-color: gainsboro;
    width: 100%;
    height: 100%;
}

.hiragana2_composition0 {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: gray; */
    width: 100%;
}

.hiragana2_composition1 {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: gray; */
    width: 100%;
    margin-top: 15em;
}

.hiragana2_composition2 {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: gray; */
    width: 100%;
    margin-top: 1em;
}

.hiragana2_composition3 {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: gray; */
    width: 100%;
    margin-top: 1em;
}

.hiragana1_form {
    background-color: gainsboro;
    width: 100%;
    height: 100%;
}

.hiragana1_composition {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: gray; */
    width: 100%;
    margin-top: 16em;
}

.one_choice {
    width: 20em;
    height: 7em;
}

.title {
    width: 100%;
    /* height: 1em; */
    color: rgb(230, 157, 12);
    font-size: 4px;
    text-align: center;
    /* background-color: aquamarine; */
}

.box {
    margin-top: 2em;
    /* background-color: bisque; */
    width: 100%;
    text-align: center;
}

.term {
    color: black;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    display: inline-block;
    text-align: initial;
}

.container2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background-color: gray; */
    width: 100%;
    margin-top: 3em;
}

.nextpage {
    background-color: orange;
    margin-top: 10em;
}

.table {
    color: rgb(229, 23, 112);
}

.static {
    color: aqua;
}

.cafe {
    color: blue;
}

.bag {
    color: rgb(210, 139, 77);
}

.danger {
    color: chartreuse;
}

.move {
    color: cornflowerblue;
}

.perfume {
    color: green;
}

.cafe_background {
    background-color: antiquewhite;
    width: 100%;
    height: 100%;
}